@font-face {
    font-family: 'overpass';
    src: url('/fonts/overpass/overpass-regular-webfont.woff2') format('woff2'),
         url('/fonts/overpass/overpass-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'overpass';
    src: url('/fonts/overpass/overpass-italic-webfont.woff2') format('woff2'),
         url('/fonts/overpass/overpass-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'overpass';
    src: url('/fonts/overpass/overpass-semibold-webfont.woff2') format('woff2'),
         url('/fonts/overpass/overpass-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'overpass';
    src: url('/fonts/overpass/overpass-semibold-italic-webfont.woff2') format('woff2'),
         url('/fonts/overpass/overpass-semibold-italic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'overpass';
    src: url('/fonts/overpass/overpass-bold-italic-webfont.woff2') format('woff2'),
         url('/fonts/overpass/overpass-bold-italic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'overpass';
    src: url('/fonts/overpass/overpass-bold-webfont.woff2') format('woff2'),
         url('/fonts/overpass/overpass-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'vollkorn';
    src: url('/fonts/vollkorn/vollkorn-webfont.woff2') format('woff2'),
         url('/fonts/vollkorn/vollkorn-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

html {
    --c-darkgrey: #26231E;
    --c-middlegrey: #66625C;
    --c-grey: #CCC9C4;
    --c-blue: #477DB3;
    --c-background: #F7F5F2;
    --c-background-light: #FAF9F7;

    --shadow-overlay: 0 4px 0 -2px rgba(0, 0, 0, .05), 0 3px 6px rgba(0, 0, 0, .1);
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:overpass, sans-serif;
	background:var(--c-background);
    color:var(--c-darkgrey);
}

*, *:before, *:after {
	box-sizing:border-box;
    -webkit-tap-highlight-color:transparent;
    outline:none;
}

a {
	color: var(--c-blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}


h2 {
    font-size: 18px;
    line-height: 42px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color:var(--x-middlegrey);
}

@media (min-width: 800px) {
    h2 {
        font-size: 25px;
    }
}

p {
    font-size:16.5px;
    line-height:30px;
    padding:0;
    margin:0;
}

p a {
    text-decoration: underline;
    outline:none;
}

p a:hover, p a:focus {
    text-decoration: none;
}

small {
    font-size:12px;
    line-height:18px;
    padding:0;
    margin:0;
}